<div class="large-12 small-12 columns bck">
	<div class="row">
		<div class="large-6 small-12 columns">
			<h2>railskhmer.us</h2>
			<p>See all the tips</p>
			<p class="about">All New Knownlegde & Shared with You</p>
			<a href="#" class="button large tmar">Find Information & Learning </a>
			
			
		</div>
		<div class="large-6 small-12 columns text-center ">
				<ul class="example-orbit-content" data-orbit> 
					<li data-orbit-slide="headline-1"> 
						<div class="red-bck"> 
							<h2 class="text-center">Ruby on Rails</h2> 
							<p class="text-center">Lorem ipsum dolor sit amet, consectetur to nostrum ventore.</p>
						</div> 
					</li> 
					<li data-orbit-slide="headline-2 green-bck"> 
						<div class="green-bck"> 
							<h2 class="text-center">Coffeescript</h2> 
							<p class="text-center">Lorem ipsum dolor sit amet, consectetur to nostrum ventore.</p>
						</div>
					</li> 
					<li data-orbit-slide="headline-3"> 
						<div class="blue-bck"> 
							<h2 class="text-center">Scss</h2> 
							<p class="text-center">Lorem ipsum dolor sit amet, consectetur to nostrum ventore.</p>
						</div> 
					</li> 
				</ul>
		</div>
	</div>
</div>
<div class="large-12 columns pad-t pad-b text-center">
	<h1>Just Learning About Web Programming</h1>
	<div class="traingle text-center"></div>
</div>
<div class="large-12 columns pad-tt pad-bb text-center bck-nav">
	<div class="row">
		<div class="large-12 columns">
			<div class="large-4 small-4 columns text-center">
				<%= image_tag "ruby-logo.png", size: "70"%>
				<h3>Ruby</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eos, quo </p>
			</div>
			<div class="large-4 small-4 columns text-center">
				<%= image_tag "sass.png", size: "70"%>
				<h3>Scss</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eos, quo </p>
			</div>
			<div class="large-4 small-4 columns text-center">
				<%= image_tag "coffee.png", size: "70",class: "text-center"%>
				<h3 class="text-center">Coffeescript</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eos, quo </p>
			</div>
		</div>
		<div class="gotop">
			<a href="#yo-dog" class="button">Top</a>
		</div>
	</div>
</div>

<div class="large-12 columns back-ground">
	<div class="row">
		<div class="large-12 columns pad-t pad-b text-center">
			<div class="large-3 columns">
				<h5>About Rails</h5>
			</div>
			<div class="large-2 columns">
				<h5>Support</h5>
			</div>
			<div class="large-2 columns">
				<h5>Resource</h5>
			</div>
			<div class="large-2 columns">
				<h5>My Account</h5>
			</div>
			<div class="large-3 columns">
				<h5>Shopping</h5>
			</div>
		</div>
	</div>
</div>